.superadmin-link {
  background-color: grey;
  color: #003366 !important;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.superadmin-link:hover {
  background-color: #dce9ff;
  text-decoration: none;
}
