<div class="container">
  <header class="jumbotron">
    <div class="container">
      <app-document-card-list
        [documents]="latestDocs"
        sectionTitle="Latest Documents">
      </app-document-card-list>

      <app-document-card-list
        [documents]="trendingDocs"
        sectionTitle="Trending Documents">
      </app-document-card-list>

      <app-document-card-list
        [documents]="mostLikedDocs"
        sectionTitle="Most Queried Documents">
      </app-document-card-list>
    </div>
  </header>
</div>
